* {
		box-sizing: border-box;
}

html {

	background: #292929;
	color: whitesmoke;
	font-family: "Monaco", monospace;
}

h1 {
	color: whitesmoke;
	font-size: 45px;
	text-align: center;
}


.section-text {
	font-size: 20px;
	text-align: center;
	color: lightgray;
	clear: both;


}

h2, #ordem {
	color: whitesmoke;
	font-size: 35px;
	text-align: center;
}


.posicionamentofoto {
	text-align: center;
	margin-top: 20px;
}

.circlepicture {
	border-style: 10px solid transparent;
	border-radius: 200px;
	margin: 0px;

}

.atribuições {
	list-style: none;
	text-align: center;
}

a:link, a:visited{
	text-decoration: none;
	border-style: 1px solid	blue;
	margin-bottom: 1px;
	color: blue;
}
a:hover, a:active {
	color:purple;

}