@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	background-color: #131313;
	display: grid;
	height: 100vh;
	grid-template-columns: 0.4fr 2.2fr 0.4fr;
	grid-template-rows: 0.2fr 1.8fr 1fr;
	grid-template-areas: "sidebar navbar sidebar2" "sidebar main sidebar2" "sidebar content1 sidebar2";
}



#navbar {
	margin: 40px;
	grid-area: navbar;
	display: flex;
	background-color: #202020;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	height: 90px;
}
#navbar a {
	color: white;
	text-align: center;
	font-family: 'Lato', sans-serif;
	text-decoration: none;

	margin: 25px;
	font-size: 20px;
}
#navbar a:hover:visited {
	color: grey;
}

#sidebar {
	grid-area: sidebar;
	background-color: #131313;
}

#sidebar2 {
	grid-area: sidebar2;
	background-color: #131313;
}

#main {
	grid-area: main;
	background-color: #131313;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.05fr 1.8fr 1fr;
	grid-template-areas: "imagem nome" "imagem textoinicial" ;
	grid-gap: 10px;
	margin: 40px;

}


#main img{
	grid-area: imagem;
	border-radius: 20px;
	border-color: white;

}
#main p {
	margin: 20px;
	color: #C0C0C0;
	font-size: 30px;
	text-align: center;
	grid-area: textoinicial;


}

#main h1{
	color: white;
	font-size: 60px;
	font-family: "Lucida Console", "Courier New", monospace;
  	white-space: nowrap;
	grid-area: nome	;
	width: 800px	;
}

#content1 {
	grid-area: content1;
	color: white;
}

#botaoresumo, #botaocontato{
	text-align: center;
	text-decoration: none;
	font-family: "Monaco", monospace;
  grid-column: 2/3;
  grid-row: 3/4;
  max-width: 250px	;
  height: 50px;
  background-color: #101010;
  color: white;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 15px;
  height: 75px;
	overflow: hidden;
	position: relative;
	box-shadow: 5px 5px 15px #0008;
	z-index: 2;
}

#botaocontato{
	left: 38%
}

#botaoresumo::before, #botaoresumo::after, #botaocontato::before, #botaocontato::after{
	content: '';
	position: absolute;
	height: 150%;
	width: 150%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

#botaoresumo::before, #botaocontato::before{
	background: conic-gradient(#44f 20deg, transparent 120deg);
	animation: rotate 4s infinite linear;
}

#botaoresumo::after, #botaocontato::after {
	background: #131313;
	height: 95%;
	width: 95%;
	box-shadow: 5px 5px 15px #0008 inset;
	border-radius: 10px;
}


@keyframes rotate {
100% {
	transform: translate(-50%, -50%)
	rotate(-360deg);
}
}
